metadata/src/main/resources/service-metadata/schema/bstu/dplm/servicetypes/v1/ServiceTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:ST="http://edu/schema/bstu/dplm/servicetypes/v1"
    xmlns:DT="http://edu/schema/bstu/dplm/datatypes/v1"
    targetNamespace="http://edu/schema/bstu/dplm/servicetypes/v1"
    elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xs:import namespace="http://edu/schema/bstu/dplm/datatypes/v1" schemaLocation="../../datatypes/v1/DataTypes.xsd"/>

	<xs:complexType name="PingRequestType">

	</xs:complexType>

	<xs:complexType name="PingResponseType">
        <xs:sequence>
            <xs:element name="data" type="xs:string" />
        </xs:sequence>
	</xs:complexType>

    <xs:complexType name="RetrievePriviligesRequestType">
    </xs:complexType>

    <xs:complexType name="RetrievePriviligesResponseType">
        <xs:sequence>
            <xs:element ref="DT:priviliges" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RetrieveLooksRequestType">
    </xs:complexType>

    <xs:complexType name="RetrieveLooksResponseType">
        <xs:sequence>
            <xs:element name="eyeLook" type="DT:LookType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="bodyLook" type="DT:LookType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="hairLook" type="DT:LookType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RetrieveUsersRequestType">
    </xs:complexType>

    <xs:complexType name="RetrieveUsersResponseType">
        <xs:sequence>
            <xs:element name="users" type="DT:UserType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RetrieveUserByCriteriaRequestType">
        <xs:sequence>
            <xs:element name="searchUserCriteria" type="DT:SearchUserParametersType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RetrieveUserByCriteriaResponseType">
        <xs:sequence>
            <xs:element name="user" type="DT:UserType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="UpdateUserRequestType">
        <xs:sequence>
            <xs:element name="user" type="DT:UserType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="UpdateUserResponseType">
        <xs:sequence>
            <xs:element name="user" type="DT:UserType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DeleteUserRequestType">
        <xs:sequence>
            <xs:element name="user" type="DT:UserType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DeleteUserResponseType">
        <xs:sequence>
            <xs:element name="result" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RetrieveLocationsRequestType">
    </xs:complexType>

    <xs:complexType name="RetrieveLocationsResponseType">
        <xs:sequence>
            <xs:element name="location" type="DT:LocationType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="UpdateLocationRequestType">
        <xs:sequence>
            <xs:element name="location" type="DT:LocationType" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="UpdateLocationResponseType">
        <xs:sequence>
            <xs:element name="location" type="DT:LocationType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GetLocationRequestType">
        <xs:sequence>
            <xs:element name="id" minOccurs="1" type="xs:long" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GetLocationResponseType">
        <xs:sequence>
            <xs:element name="location" type="DT:LocationType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AuthorizeRequestType">
        <xs:sequence>
            <xs:element name="authorizeParameters" type="DT:AuthorizeParametersType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AuthorizeResponseType">
        <xs:sequence>
            <xs:element name="user" type="DT:UserType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="UpdateMapObjectRequestType">
        <xs:sequence>
            <xs:element name="mapObject" type="DT:MapObjectType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="UpdateMapObjectResponseType">
        <xs:sequence>
            <xs:element name="mapObject" type="DT:MapObjectType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="UpdateUserResultsRequestType">
        <xs:sequence>
            <xs:element name="userResult" type="DT:UserResultsType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="UpdateUserResultsResponseType">
        <xs:sequence>
            <xs:element name="userResult" type="DT:UserResultsType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RetrieveUserResultsRequestType">
        <xs:sequence>
            <element name="userId" type="xs:long" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RetrieveUserResultsResponseType">
        <xs:sequence>
            <xs:element name="userResult" type="DT:UserResultsType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RetrieveUserRequestType">
        <xs:choice>
            <xs:element name="id" type="xs:long" />
            <xs:element name="login" type="xs:string" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="RetrieveUserResponseType">
        <xs:sequence>
            <xs:element name="user" type="DT:UserType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="UpdateMarkRequestType">
        <xs:sequence>
            <xs:element name="mark" type="DT:MarkType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="UpdateMarkResponseType">
        <xs:sequence>
            <xs:element name="mark" type="DT:MarkType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CompleteQuizRequestType">
        <xs:sequence>
            <xs:element name="pupilId" type="xs:long" />
            <xs:element name="quiz" type="DT:QuizType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CompleteQuizResponseType">
        <xs:sequence>
            <xs:element name="userResult" type="DT:UserResultsType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="mark" type="DT:MarkType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RetrieveMarkForQuizRequestType">
        <xs:sequence>
            <xs:element name="quiz" type="DT:QuizType" />
            <xs:element name="pupilLogin" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RetrieveMarkForQuizResponseType">
        <xs:sequence>
            <xs:element name="userResult" type="DT:UserResultsType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="mark" type="DT:MarkType" />
        </xs:sequence>
    </xs:complexType>

    <xs:element name="pingRequest" type="ST:PingRequestType" />
    <xs:element name="pingResponse" type="ST:PingResponseType" />

    <xs:element name="updateUserRequest" type="ST:UpdateUserRequestType" />
    <xs:element name="updateUserResponse" type="ST:UpdateUserResponseType" />
    <xs:element name="deleteUserRequest" type="ST:DeleteUserRequestType" />
    <xs:element name="deleteUserResponse" type="ST:DeleteUserResponseType" />
    <xs:element name="getPrivsRequest" type="ST:RetrievePriviligesRequestType" />
    <xs:element name="getPrivsResponse" type="ST:RetrievePriviligesResponseType" />
    <xs:element name="getLooksRequest" type="ST:RetrieveLooksRequestType" />
    <xs:element name="getLooksResponse" type="ST:RetrieveLooksResponseType" />
    <xs:element name="getUsersRequest" type="ST:RetrieveUsersRequestType" />
    <xs:element name="getUsersResponse" type="ST:RetrieveUsersResponseType" />
    <xs:element name="searchUserByCriteriaRequest" type="ST:RetrieveUserByCriteriaRequestType" />
    <xs:element name="searchUserByCriteriaResponse" type="ST:RetrieveUserByCriteriaResponseType" />

    <xs:element name="getLocationsRequest" type="ST:RetrieveLocationsRequestType" />
    <xs:element name="getLocationsResponse" type="ST:RetrieveLocationsResponseType" />
    <xs:element name="updateLocationRequest" type="ST:UpdateLocationRequestType" />
    <xs:element name="updateLocationResponse" type="ST:UpdateLocationResponseType" />
    <xs:element name="getLocationRequest" type="ST:GetLocationRequestType" />
    <xs:element name="getLocationResponse" type="ST:GetLocationResponseType" />

    <xs:element name="authorizeRequest" type="ST:AuthorizeRequestType" />
    <xs:element name="authorizeResponse" type="ST:AuthorizeResponseType" />
    <xs:element name="updateMapObjectRequest" type="ST:UpdateMapObjectRequestType" />
    <xs:element name="updateMapObjectResponse" type="ST:UpdateMapObjectResponseType" />

    <xs:element name="updateUserResultsRequest" type="ST:UpdateUserResultsRequestType" />
    <xs:element name="updateUserResultsResponse" type="ST:UpdateUserResultsResponseType" />

    <xs:element name="retrieveUserResultsRequest" type="ST:RetrieveUserResultsRequestType" />
    <xs:element name="retrieveUserResultsResponse" type="ST:RetrieveUserResultsResponseType" />

    <xs:element name="retrieveUserRequest" type="ST:RetrieveUserRequestType" />
    <xs:element name="retrieveUserResponse" type="ST:RetrieveUserResponseType" />

    <xs:element name="updateMarkRequest" type="ST:UpdateMarkRequestType" />
    <xs:element name="updateMarkResponse" type="ST:UpdateMarkResponseType" />

    <xs:element name="completeQuizRequest" type="ST:CompleteQuizRequestType" />
    <xs:element name="completeQuizResponse" type="ST:CompleteQuizResponseType" />

    <xs:element name="retrieveMarkForQuizRequest" type="ST:RetrieveMarkForQuizRequestType" />
    <xs:element name="retrieveMarkForQuizResponse" type="ST:RetrieveMarkForQuizResponseType" />
</xs:schema>
